*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #f4f4f4;
}
#wrapper, aside, ul, .usuario, main {
  display: flex;
}
#wrapper, aside, main {
  gap: 30px;
}
#wrapper aside{
  flex-direction: column;
  width: 15%;
  max-width: 400px;
  min-width: 280px;
  background-color: #ffffff;
}
#wrapper aside ul{
  flex-direction: column;
}
#wrapper aside ul li{
  flex-direction: column;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  padding: 10px 30px;
  cursor: pointer;
}
#wrapper aside ul li:hover{
  background-color: #f4f4f4;
}
#wrapper aside ul li .usuario{
  gap: 10px;
}
#wrapper aside ul li .usuario img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border:2px solid #dddddd;
}
#wrapper aside ul li .datos-usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 #wrapper aside ul li .datos-usuario h5 {
  font-size: medium;
  font-weight: 300;
}
#wrapper aside ul li .datos-usuario p {
  font-size: medium;
  font-weight: 300;
}
#wrapper aside ul li:first-child {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#wrapper aside ul li:first-child .datos-usuario h5 {
    font-size: x-large;
    font-weight: 400;
}
#wrapper aside ul li:first-child .datos-usuario p {
    font-size: small;
    font-weight: 300;
}
#wrapper aside ul li .iconos {
    font-size: x-large;
    color: #828485;
}
#wrapper aside ul li .iconos i {
    cursor: pointer;
}
#wrapper aside ul li .iconos i:hover {
    color: #A491D2;
}
#wrapper aside ul li .boton {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
}
#wrapper aside ul li .boton button {
  background-color: #A491D2;
  color: #ffffff;
  font-size: 16px;
  border: 0 none;
  padding: 10px 20px;
  width: 100%;
  height: 60px;
cursor: pointer;
}
#wrapper aside ul li .boton button:hover {
  background-color: #CDC3E6;
}
#wrapper aside ul li .boton button:focus {
  background-color: #BEC1BB;
}
#wrapper main{
  flex-direction: column;
  width: 75%;
  justify-content: center;
  align-items: center;
  
}
 #wrapper main img{
  width: 300px;
  
}
main h1 {
  font-size: 50px;
  font-weight: 400;
  margin-top: 30px;
  text-align: center;
}
main p {
  font-size: 18px;
  max-width: 54%;
  font-weight: 300;
  text-align: center;
}